<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mach-O Binary</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.mach-o-binary</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TrollFools Deb Package</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.debian.deb-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TrollFools Sources File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sileo.sources</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>TrollFools List File</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.sileo.list</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIconFiles</key>
	<array>
		<string>AppIcon.png</string>
		<string>AppIcon-official.png</string>
	</array>
</dict>
</plist>
